body {
    margin: 0;
}

main {
    flex-grow: 1;
}

.App {
    background: skyblue;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.bottom-nav {
    background: black;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.bottom-nav>* {
    border: 1px solid white;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

table,
td,
tr {
    border: 2px solid white;
    border-collapse: collapse;
}

.grid-1 {
    display: grid;
    grid-template-columns: 1fr auto auto;
}

.grid-1 > div {
    margin: 1px;
    padding: 2px;
}